{:kotoba.app/id "cloud.itonami.isic-6020", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiby2dpzex5pdppip7uffnwwiocs5g4ercm2me7um7t774dn4kgruq", :kotoba.app/embed-url "ipfs://bafkreiby2dpzex5pdppip7uffnwwiocs5g4ercm2me7um7t774dn4kgruq", :published {:archive "https://kotobase.net/ipfs/bafkreiby2dpzex5pdppip7uffnwwiocs5g4ercm2me7um7t774dn4kgruq", :size 72604, :put-status 201, :get-status 200, :at "2026-08-15T13:57:52.672Z"}}
